  
<section class="max-width text-center big-padding-bottom" >

    <div class="container">
        <H2> Liste des utilisateurs: </H2>
		<body>
			<table class="tab">
			  <tr class="tabHeader">
				<td >Nom</td>
				<td> Voiture(s) </td>	
					
				
			  </tr >
			  <tr class="tabBody" ng-repeat="people in peopleList">
				<td >{{people.name}} </td>
				<td> <div ng-repeat="car in people.Cars" > {{car.name}} : {{car.places.length}} places </div> </td>
		
			  </tr>
			<tbody>
		</body>

 
<!--	<ul>
		<li ng-repeat="people in peopleList">
		{{people.name}} possède la voiture: {{people.car}} avec {{people.places}} places</p>
		</li>
	</ul-->
 

	</div>
</section>

